<a href="https://colab.research.google.com/github/nilsoncunha/portfolio/blob/master/Prevendo_notas_do_ENEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import scipy.stats as sct
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression

In [0]:
train = pd.read_csv('https://dl.dropbox.com/s/7vexlzohz7j3qem/train.csv?dl=0')
test = pd.read_csv('https://dl.dropbox.com/s/7vexlzohz7j3qem/train.csv?dl=0')

In [3]:
train.head()

   Unnamed: 0                              NU_INSCRICAO  ...  Q049  Q050
0           1  ed50e8aaa58e7a806c337585efee9ca41f1eb1ad  ...     B     D
1           2  2c3acac4b33ec2b195d77e7c04a2d75727fad723  ...     C     A
2           3  f4545f8ccb9ff5c8aad7d32951b3f251a26e6568  ...     B     A
3           4  3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe  ...     A     A
4           5  bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268  ...     A     A

[5 rows x 167 columns]

In [5]:
train.shape

(13730, 167)